.root {
  display: flex;
  flex-direction: column;
}

.surfaceSection {
  background-color: var(--nel-color-surface);
  padding-block: var(--nel-space-48);
}

.backgroundSection {
  background-color: var(--nel-color-background);
  padding-block: var(--nel-space-48);
}

@media (min-width: 768px) {
  .surfaceSection,
  .backgroundSection {
    padding-block: var(--nel-space-96);
  }
}
