.root {
  display: flex;
  flex-direction: column;
}

.washSection {
  background-color: var(--nel-color-background);
  padding-block: var(--nel-space-48);
}

.surfaceSection {
  background-color: var(--nel-color-surface);
  padding-block: var(--nel-space-48);
}

.primarySection {
  background-color: var(--nel-color-primary);
  padding-block: var(--nel-space-48);
}

@media (min-width: 768px) {
  .washSection,
  .surfaceSection,
  .primarySection {
    padding-block: var(--nel-space-96);
  }
}
