.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--nel-color-background);
  color: var(--nel-color-text);
  line-height: var(--nel-line-height-body);
}

.main {
  flex: 1;
}
