.section {
  display: flex;
  flex-direction: column;
  gap: var(--nel-space-16);
}

.heading {
  font-size: var(--nel-size-2xl);
  font-weight: 600;
  color: var(--nel-color-primary-strong);
  line-height: var(--nel-line-height-heading);
  margin-block: 0;
}

.list {
  display: flex;
  flex-direction: column;
}
