.card {
  display: flex;
  flex-direction: column;
  padding: var(--nel-space-16);
  background-color: var(--nel-color-surface);
  border-width: var(--nel-elevation-1-border-width);
  border-style: solid;
  border-color: var(--nel-color-border);
  border-radius: var(--nel-radius-md);
  box-shadow: var(--nel-elevation-1-shadow);
  block-size: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--nel-space-16);
  flex: 1;
}
